.{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: Arial, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(162, 162, 234, 0.61);
    position: fixed;
    top: 0%;
    width: 100%;
    height: 80px;
}
ul{
   display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-inline: 22px;
}
.logo{
    font-size: 22px;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 90px;

}
.main img{
    
}